.landing__mainContent {
  /* margin-top: 3.5em; */
  margin: 0 auto;

  display: flex;
  height: 86.9vh;

  max-width: 1400px;

  overflow: hidden;
}

/* content container */
.landing__content {
  margin-left: 50px;

  width: 50%;
  height: 100vh;

  padding: 5%;
}

.landing__content > h1 {
  margin: 0;

  font-size: 4rem;
  font-weight: 900;

  text-shadow: 2px 2px #807c7c;
}

.landing__buttonContainer {
  margin-top: 50px;
}

.landing__getStartedButton {
  background-color: orange;
  color: #000000;
  width: 231px;
  height: 55px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

/* image container */

.landing__images {
  width: 100%;
  max-height: 100vh;

  position: relative;
}

.orangeBackgroundImg {
  z-index: 100;

  height: 90vh;

  width: 1000px;
  height: 800px;

  object-fit: cover;
}

@media only screen and (max-width: 800px) {
  .landing__images {
    display: none;
  }
  .orangeBackgroundImg {
    display: none;
  }
}
