/* Nav */
nav {
  /* position: fixed; */

  height: 6rem;
  background-color: #fff;
  /* margin: 0; */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  /* top: 0; */
}
nav > section {
  display: flex;
}
nav a,
.signoutText,
.toggleNav {
  width: 8em;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  text-decoration: none;
  text-align: center;
}

.navLink {
  background-color: #fff;
  color: black;
  transition: background-color 0.2s ease;
}

.navLink:hover {
  border-bottom: 1px solid black;
}

.mainSection {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}

.signoutText,
.toggleNav {
  cursor: pointer;
}

.pageTitle {
  text-align: center;
}

#navMenu {
  position: fixed;
  right: 0;
  top: 3.5em;
  height: 15em;

  overflow: hidden;
  background-color: #333;
  display: flex;
  flex-direction: column;
}
#navMenu > a,
#navMenu > div {
  background-color: #333;
  transition: background-color 0.2s ease;
  padding: 0 3em;
}

#navMenu > a:hover,
#navMenu > div:hover {
  background-color: #404040;
}

#navMenu.collapsed {
  height: 0;
}
